<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
                      http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                      http://www.springframework.org/schema/context
                      http://www.springframework.org/schema/context/spring-context-2.5.xsd">

  <!-- Application context for the spring dispatcher servlet -->
  
  <!-- Used for @Autowire, @Required and @Qualifier annotations -->
  <context:annotation-config />
  
  <!-- Used for @Component, @Service, @Controller, etc.. annotations -->
  <context:component-scan base-package="com.mycompany.web" />

  <!-- Not annotated. Set up to show what a wiring looks like -->
  <bean name="/hello.htm" class="com.mycompany.web.HelloController" />

  <!-- States the place where our views are so we can call them by name -->
  <bean id="viewResolver"
    class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/WEB-INF/jsp/" />
    <property name="suffix" value=".jsp" />
  </bean>

</beans>
